header {
    width: 100%;
    height: 74px;
    position: absolute;
    z-index: 4;
    padding: 10px;
    color: aliceblue;
  }
  
  .nav {
    margin: 0 5px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .logo {
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 10px;
  }
  
  .menu__item {
    margin: 0px 20px;
    margin-top: 18px;
       a {
        color: #fff; 
       }
       button {
         margin-right: 30px;
         background-color: transparent;
         border: none;
       }
  
  }
  
  .menu__item a .active, .menu__item a:hover {
    color: #e94c03;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  .bar-btn {
    background-color: transparent;
    border: none;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    display: none;
  }
  
  ul.show {
    top: 65px;
  }