
$colorOrange:#F64D33;
$colorBlue: #010A13;
$colorBlack: #FFFFFF;

header {
  width: 100%;
  height: 74px;
  position: absolute;
  z-index: 4;
  padding: 10px;
  color: aliceblue;
}

 .nav {
  margin: 0 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
} 


.container__menu{
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo img{
  margin-left: 5px;
    margin-top: 20px;
    margin-right: 10px;

}

.menu{
  display: flex;
  align-items: center;
}

.menu ul li{
  margin: 0px 20px;
  margin-top: 18px;
  margin-left: 36px;
}

.menu ul li a{

  font-size: 18px;
  color: #fff;
 
}

.menu ul li a .active, .menu ul li a:hover {
  color: #e94c03;
  -webkit-transition: .3s;
  transition: .3s;
}

.hides{
  display: none;
}

.hamburgerMenu {
  display: none;
}

.iconHome {
  display: none;
}

.menu #btn_menu{
  display: none;
}
.bar-btn {
  background-color: transparent;
  border: none;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
  display: none;
}

ul.show {
  top: 65px;
}


.menuIcons {
  position: absolute;
  top: 30px; left: 1100px;
  
 
  
}

.menu__item {
  margin-right: 25px;
  justify-content: space-between;
  margin-left: 14px;
     a {
      color: #fff; 
     }
     button {    
       background-color: transparent;
       border: none;
     }

}


//-----------------------------------------

@media screen and (max-width:1200px){

  header{
      padding: 40px;
  }

}

@media screen and (max-width: 720px){

  .menu nav{
    background-color: $colorBlue;
      position: fixed;
      top: 0;
      right: -250px;
      width: 250px;
      height: 100vh;
      padding: 40px;
      z-index: 1;
      transition: all 300ms;
  }

  .nav__tittle {
    margin-top: 40;
    font-size: 30px;
    font-weight: bold;
    color: $colorBlack;
  }

.menu ul{
  flex-direction: column;
  margin-top: 10px;
  align-items: flex-start;
}

.menu ul li{
  margin-top: 30px;
  margin-left: 0;
}

.menu ul li a{
  color: $colorBlack;
  margin-left: 35px;
  font-size: 17px;
  
  
  
  
}

.menu nav img{
  
  display: flex;
  position: absolute;
  
}

  #back_menu{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,0.5);
      display: none;
  }

  .hides{
    display: flex;
  }

  .menu #btn_menu{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background: rgba(255, 255, 255, 0.1);
      font-size: 24px;
      border-radius: 50px;
      cursor: pointer;
      transition: all 300ms;
  }

  .menu #btn_menu:hover{
      background: rgba(255, 255, 255, 0.2);
  }

  .hamburgerMenu{
    display: flex;
  }
  .contentButtons {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;  
  }
  .singIN{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-top: 200px;
    border: 0;
    border-radius: 5px;
    padding: 7px;
    -webkit-box-shadow: 0 2px 4px #00000033;
    box-shadow: 0 2px 4px #00000033;
    font-weight: 200;
    background: $colorOrange;
    color: #FFFFFF;
    text-align: center;
    width: 200px;
    height: 38px;
  }

  .singUP {
   margin-top: 16px;
   color: $colorOrange;
   border: none;
   border-bottom: 1px solid $colorOrange;
  }

  .logo {
    margin-top: 23px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .logo img{
    margin-left: 5px;
      margin-top: 20px;
      margin-right: 10px;
  
  }
}