/*----------section 3-----------*/
.qualities {
    margin-top: 20px;
    padding: 50px;
  }
  
  .quality {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  
        &__column {
          width: 30%;
        }
        &__image {
          width: 100%;
        }
        &__paragraph {
          font-weight: 400;
        }
  }