/*-----------------FOOTER ---------------*/
/* Variables */
$colorOrange:#F64D33;
$colorBlue: #131B23;
$colorWhite: #FFFFFF;
$lightGray: #ffffff31;
$colorDetectedBtn:#fa614a;

.elements {
 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
  
    &__column {
      margin-top: 20px;
      width: 30%;
      a {
      margin-top: 30px;
      padding: 20px 0;
      color: #ffffff83;
      font-weight: 200;
      font-size: 13px;
      }
    }
  
    &__tittle {
      padding: 10px 0;
      font-weight: 300;
      color: #fff;
    }
  
    &__box {
      margin-top: 5px;
    }
  }

  $phone:"(max-width: 420px)";

  @media #{$phone}{
    .elements {
      display: flex;
      flex-wrap: wrap;

      &__box {
     max-width: 250px;
     padding-bottom: 20px;
     margin-bottom: 20px;
     
      }
    }

  }