@charset "UTF-8";
header {
  width: 100%;
  height: 74px;
  position: fixed;
  z-index: 4;
  padding: 10px;
  color: aliceblue;
  -webkit-transition: 0.07s;
  transition: 0.07s;
  padding: 30px 20px;
}

header.abajo {
  background: #fff;
  height: 80px;
  padding: 8px 20px;
}

header.abajo .menu__item a {
  color: #000;
  font-size: 18px;
}

header.abajo .logo__orange {
  display: block;
}

header.abajo .logo__write {
  display: none;
}

.nav {
  margin: 0 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
  margin-bottom: 5px;
}

.logo__orange {
  display: none;
}

.menu__item {
  margin: 0px 20px;
}

.menu__item a {
  font-size: 18px;
  color: #fff;
}

.menu__item button {
  background-color: transparent;
  border: none;
}

.header__responsive {
  display: none;
}

/*-----------BANNER----------------*/
.banner {
  width: 100%;
  height: 700px;
  position: relative;
}

.banner__elements {
  border-radius: 12px;
  margin-top: 2em;
  margin-left: 81px;
  width: 450px;
  background-color: rgba(255, 255, 255, 0.151);
  padding: 50px;
  padding: 20px 50px 50px;
  position: absolute;
  /*el contenido se sobrepone a la pagina*/
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner__elements a {
  font-weight: 600;
  color: white;
  padding: 18px 100px;
  background-color: #F64D33;
}

.banner__background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  /*adapta la imagen*/
}

.image-scrolling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.n {
  position: absolute;
  top: 100px;
  width: 200px;
  height: 10px;
  background: #000;
}

.n1 {
  top: 200px;
}

.n2 {
  top: 300px;
}

.n3 {
  top: 400px;
}

.n4 {
  top: 500px;
}

.interaction {
  position: absolute;
  top: 250px;
  right: 400px;
  /* left: 1000px; */
  z-index: 100;
  color: transparent;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.interaction__option {
  font-size: 100px;
  /*  border: 1px solid #000; */
}

#block {
  display: none;
  height: 100px;
  width: 100px;
  position: absolute;
  background: red;
  z-index: 100;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  height: 100vh;
  /*    position: fixed;  */
  z-index: -1;
  pointer-events: none;
  margin-right: 100px;
}

.wrap {
  display: none;
}

/* --- --- CAROUSEL/GALLERY --- --- */
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.container__tittle {
  margin-bottom: 20px;
  padding: 30px 50px 5px;
  text-align: center;
}

.container__container {
  position: relative;
}

.carousel__prev, .carousel__next {
  position: absolute;
  z-index: 5;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 12px);
  /*alineación de botones verticalmente*/
  line-height: 1000px;
  color: #F64D33;
  opacity: 40%;
  cursor: pointer;
  background: none;
}

.carousel__prev:hover, .carousel__next:hover {
  opacity: 100%;
}

/*Desplazamiento de botones a los extremos*/
.carousel__prev {
  left: -30px;
}

.carousel__next {
  right: -10px;
}

.carousel__list {
  overflow: hidden;
}

.carousel__item {
  margin: 5px;
  text-align: center;
}

/* puntos de la parte inferiro del carrusel*/
.carousel__arrows .glider-dot {
  display: block;
  width: 5px;
  height: 5px;
  background: #fff;
  opacity: .2;
  border-radius: 60;
}

.carousel__arrows .glider-dot:hover {
  opacity: .5;
}

.carousel__indicadores .glider-dot.active {
  opacity: 1;
}

/*----------section 3-----------*/
.qualities {
  margin-top: 20px;
  padding: 50px;
}

.quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.quality__column {
  width: 30%;
}

.quality__image {
  width: 100%;
}

.quality__paragraph {
  font-weight: 400;
}

@media (max-width: 420px) {
  .quality {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

/* Variables */
.testimonials__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 30px;
}

.testimonials__title {
  font-size: 1.3em;
}

.testimonials__paragraph {
  font-size: 17px;
  text-align: center;
  font-style: italic;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (230px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 230px);
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.grid-item {
  width: 230px;
  margin-bottom: 40px;
  border-radius: 15px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  background-color: lightgray;
}

.grid-item:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
}

/*-----------------FOOTER ---------------*/
/* Variables */
.elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.elements__column {
  margin-top: 20px;
  width: 30%;
}

.elements__column a {
  margin-top: 30px;
  padding: 20px 0;
  color: #ffffff83;
  font-weight: 200;
  font-size: 13px;
}

.elements__tittle {
  padding: 10px 0;
  font-weight: 300;
  color: #fff;
}

.elements__box {
  margin-top: 5px;
}

@media (max-width: 420px) {
  .elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .elements__box {
    max-width: 250px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

/* ventana modal */
/*-------------------------VENTANA MODAL---------------------------------*/
.modal-container {
  position: relative;
  display: none;
  /*  display: flex;
   justify-content: flex-end;
   opacity: 0;  
   position: absolute;
   z-index: 3000;
   pointer-events: none;
  top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;  */
}

.modal-container.open {
  display: block;
  background: #0000008f;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.modal {
  position: absolute;
  right: 1.5%;
  z-index: 1;
  padding: 5px 10px;
  color: #575555d5;
  width: auto;
  -webkit-box-shadow: 0px 7px 11px 0px #f0e7e74d;
  /*sombras*/
  box-shadow: 0px 7px 11px 0px #f0e7e74d;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 100px;
  margin-right: 50px;
}

.modal h4 {
  margin: 1.5em auto 1em;
}

.button__modal {
  display: block;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0 2px 4px #00000033;
  box-shadow: 0 2px 4px #00000033;
  font-weight: 200;
  color: #ffffff;
  width: 150px;
  height: 38px;
}

.button__modal--login {
  background-color: #F64D33;
}

.button__modal--signUp {
  background-color: #010A13;
}

.arrow {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 0;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
  left: -3px;
  top: calc(50% - 8px);
}

.arrow::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}

.arrow.up {
  top: -8px;
  left: calc(87% - 8px);
}

/* variables */
/* x */
* {
  font-family: 'Karla', sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: karla;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  color: #F64D33;
  font-size: 3.5em;
  font-weight: 1.8em;
}

h2 {
  font-weight: 800;
  color: #F64D33;
  font-size: 1.3em;
}

h3 {
  color: #F64D33;
  font-weight: 500;
}

p {
  margin: 1em auto 3.5em;
  font-weight: 400;
  color: #fff;
  font-size: 1em;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #010A13;
}
/*# sourceMappingURL=home.css.map */