@charset "UTF-8";
$tablets: "(max-width: 768px)";
@media #{$tablets}{
  body {
    overflow: hidden;
}

.logo{
    margin-left: 30px;
}  

.bar-btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
}
 
nav {
    flex-direction: column;
    align-items: flex-start;
    padding: top 25px;
}
.menu__item  {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    margin:0;
    padding: 0;
    width: 100%;
    display: none;
    
}
}
$colorOrange:#F64D33;
$colorBlue: #131313;
$colorBlack: #FFFFFF;

h1 {
  
  color: #F64D33;
  font-size: 3.5em;
  font-weight: 1.8em;
}
h2 {
  font-weight: 800;
  color: #F64D33;
  font-size: 1.3em;
}

h3 {
  color: #F64D33;
  font-weight: 500;
}

p {
  margin: 1em auto 3.5em;
  font-weight: 400;
  color: #fff;
  font-size: 1em;
}

.flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}

body {
  background-color: #010A13;
}

header {
  width: 100%;
  height: 74px;
  position: absolute;
  z-index: 4;
  padding: 10px;
  color: aliceblue;
}

.nav {
  margin: 0 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 10px;
}

.menu__item {
  margin: 0px 20px;
  margin-top: 18px;
     a {
      color: #fff; 
     }
     button {
       margin-right: 30px;
       background-color: transparent;
       border: none;
     }

}

.menu__item a .active, .menu__item a:hover {
  color: #e94c03;
  -webkit-transition: .3s;
  transition: .3s;
}

.bar-btn {
  background-color: transparent;
  border: none;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
  display: none;
}

ul.show {
  top: 65px;
}


/*-----------BANNER----------------*/
.banner {
  width: 100%;
  height: 700px;
  position: relative;

  &__elements {
    margin-top: 2em;
    margin-left: 23px;
    width: 450px;
    background-color: transparent;
    padding: 50px;
    position: absolute;
    /*el contenido se sobrepone a la pagina*/
    top: 50%;
    -webkit-transform: translateY(-50%);
     transform: translateY(-50%);

     a {
      font-weight: 600;
      color: white;
      padding: 18px 100px;
      background-color: #F64D33;
     }
  }
   &__background {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    /*adapta la imagen*/
  }
}

/*----------section 3-----------*/
.qualities {
  margin-top: 20px;
  padding: 50px;
}

.quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      &__column {
        width: 30%;
      }
      &__image {
        width: 100%;
      }
      &__paragraph {
        font-weight: 400;
      }
}

/* --- --- CAROUSEL/GALLERY --- --- */
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;

  &__tittle {
    margin-bottom: 20px;
    padding: 30px 50px 5px;
    text-align: center;
  }
  &__container {
    position: relative;
  }
}

.carousel__prev, .carousel__next {
  position: absolute;
  z-index: 5;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 12px);
  /*alineación de botones verticalmente*/
  line-height: 30px;
  color: #F64D33;
  opacity: 40%;
  cursor: pointer;
  background: none;
}

.carousel__prev:hover, .carousel__next:hover {
  opacity: 100%;
}

/*Desplazamiento de botones a los extremos*/
.carousel__prev {
  left: -30px;
}

.carousel__next {
  right: -30px;
}

.carousel__list {
  overflow: hidden;
}

.carousel__item {
  margin: 5px;
  text-align: center;
}

/* puntos de la parte inferiro del carrusel*/
.carousel__arrows .glider-dot {
  display: block;
  width: 5px;
  height: 5px;
  background: #fff;
  opacity: .2;
  border-radius: 60;
}

.carousel__arrows .glider-dot:hover {
  opacity: .5;
}

.carousel__indicadores .glider-dot.active {
  opacity: 1;
}

/*-----------------FOOTER ---------------*/
.elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;

  &__column {
    margin-top: 20px;
    width: 30%;
    a {
    margin-top: 30px;
    padding: 20px 0;
    color: #ffffff83;
    font-weight: 200;
    font-size: 13px;
    }
  }

  &__tittle {
    padding: 10px 0;
    font-weight: 300;
    color: #fff;
  }

  &__box {
    margin-top: 5px;
  }
}

/*-------------------------VENTANA MODAL---------------------------------*/
/*  
#open {
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px #00000033;
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}
*/

.modal-container {
  display: flex;
  justify-content: flex-end;
  opacity: 0;  
  position: absolute;
  z-index: 2000;
  pointer-events: none;
 top: 0;
  left: 0;
  height: 100vh;
  width: 100vw; 
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
 /* background-color: #fff;*/
 position: absolute;
 z-index: 1;
 padding: 5px 10px;
 color: #575555d5;
 width: auto;
  -webkit-box-shadow: 0px 7px 11px 0px #f0e7e74d; /*sombras*/
  box-shadow: 0px 7px 11px 0px #f0e7e74d;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 100px;
  margin-right: 50px;
  h4 {
    margin: 1.5em auto 1em;
  
  }
}

div{
  padding: 0.5em;
  position: relative;
  z-index: 1;

  #login {
  background-color: #F64D33;
  border: 0;
  border-radius: 5px;
  padding: 7px;
  margin-top: 50px;
  -webkit-box-shadow: 0 2px 4px #00000033;
  box-shadow: 0 2px 4px #00000033;
  font-weight: 200;
  color: #ffffff;
  width: 200px;
  height: 38px;

  }

  #signUp {
  background-color: #010A13;
  border: 0;
  border-radius: 5px;
  padding: 7px;
  -webkit-box-shadow: 0 2px 4px #00000033;
  box-shadow: 0 2px 4px #00000033;
  color: #ffffff;
  width: 200px;
  height: 38px;
  }

}

.arrow {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 0;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
  left: -3px;
  top: calc(50% - 8px);

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
  }
}
.arrow.up {
  top: -8px;
  left: calc(50% - 8px);
}






/*# sourceMappingURL=menu.css.map */