* {
  font-family: 'Karla', sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: fixed;
  padding: 2rem 0;
  left: 0;
  top: 0;
}

body {
  background: #010A13;
  margin: 2px 30px 0 30px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product {
  width: 200px;
  display: block;
  background: #ffffff31;
  border-radius: 10px;
  margin: 20px  20px 10px 20px;
}

.product__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 28px 7px;
}

.product__info {
  padding-left: 28px;
}

.product__name {
  color: #010A13;
  font-weight: 500;
  color: #F64D33;
  font-weight: bold;
  font-size: 1.125em;
}

.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
  margin-bottom: 10px;
  color: #010A13;
  font-size: 1.125em;
  font-weight: bold;
  color: #FFFFFF;
}

.product__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  color: #010A13;
  font-weight: 300;
  font-size: 0.8em;
  color: #FFFFFF;
}

.product__cart {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px #00000033;
  box-shadow: 0 2px 4px #00000033;
  font-weight: 200;
  background: #F64D33;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  width: 150px;
  height: 38px;
}

.product__cart:hover {
  background: #b87e77;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.filter {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

select {
  height: 40px;
  padding-left: 10px;
  border: solid #010A13 1px;
  border-radius: 5px;
  font-weight: 250;
  color: #010A13;
  cursor: pointer;
  font-size: 1em;
}

select option {
  font-size: 15px;
}

@media all and (max-width: 420px) {
  html, body {
    margin-left: 0px;
    margin-right: 0px;
  }
  section {
    padding: 20px 0px;
  }
  section__logo, section__list, section nav {
    display: none;
  }
  section__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  section__mobile * {
    border: none;
    background: none;
  }
  .shop {
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shop__tittle {
    font-weight: 600;
    color: #010A13;
    font-size: 1em;
    margin-bottom: 5px;
  }
  .shop__filter {
    margin-bottom: 10px;
  }
  .shop__select {
    height: 30px;
    border: solid #010A13 1px;
    border-radius: 5px;
    font-weight: 500;
    color: #010A13;
    cursor: pointer;
    font-size: 1em;
  }
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 25px;
  }
  .product {
    width: 250px;
    display: block;
    border: solid #010A13 1px;
    border-radius: 20px;
    margin-bottom: 70px;
  }
  .product__info {
    padding: 5px 0 0 15px;
  }
  .product__img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .product__name {
    margin: 3px 0 5px;
    color: #010A13;
    font-weight: 500;
    font-size: 1em;
  }
  .product__category {
    margin-bottom: 5px;
    color: #010A13;
    font-weight: 400;
    font-size: 0.7em;
  }
  .product__price {
    margin-bottom: 10px;
    color: #010A13;
    font-weight: 400;
    font-size: 1em;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 10%;
  }
  .footer__tittle {
    font-size: 1em;
  }
  .footer img {
    width: 14px;
  }
  .footer__column {
    padding-bottom: 20px;
  }
}
/*# sourceMappingURL=shop.css.map */