body{
    height: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conte {
    height: 510px;
    width: 25%;
    box-shadow: 0 0 7px #111;
    margin: 0 30px;
}

.conte .card{
    height: 200px;
    width: 100%;
    margin-bottom:170px;
}

.card img{
    margin: auto;
    display: block;
}

.rabbit img{
    padding-top: 30px;
height: 330px;
width: 280px;
}

.cat img{
    padding-top: 30px;
    height: 330px;
    width: 280px;
    
    }

.cup img{
    padding-top: 30px;
    height: 330px;
    width: 280px;
        
        }

.littleCat img{
    height: 330px;
    width: 280px;
                
                }

.information{
    height: 80px;
    width: 100%;
}

.information h2 {
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #333;
    margin-bottom: -10px;

}

.information p {
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: .9em;
    color: #555;
}

.price{
    height: 50px;
    width: 85%;
    margin: auto;
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 1.53em;
}

.box-price{
    width: 80px;
}
.price{
}

.shoping {

}