/* Variables */
body {
  background: #131B23;
  margin: 2px 30px 0 20px;
}

header {
  position: fixed;
  padding: 2rem 0;
  left: 0;
  top: 0;
}

a {
  color: #FFFFFF;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 70px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff31;
  margin-top: 150px;
}

.product > div {
  width: 50%;
  height: 45%;
}

.product__mainImage {
  width: 100%;
  height: 180px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__galllery img {
  width: 80px;
  cursor: pointer;
}

.product__cart {
  margin-top: 20px;
  margin-bottom: 30px;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px #00000033;
  box-shadow: 0 2px 4px #00000033;
  font-weight: 200;
  background: #F64D33;
  color: #FFFFFF;
  text-align: center;
  width: 300px;
  height: 38px;
  cursor: pointer;
}

.product__cart:hover {
  background: #fa614a;
}

.product__description {
  margin-top: 10px;
  color: #FFFFFF;
  margin-left: 4px;
  font-size: 15px;
}

.product__name {
  margin-top: 30px;
  font-size: 35px;
  font-weight: bold;
}

.product__category {
  font-weight: 200;
  margin-top: 15px;
  margin-left: 4px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
}

.product__price {
  justify-items: center;
  margin-top: 10px;
  font-size: 40px;
  font-weight: medium;
}

@media (max-width: 375px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
    padding: 0;
  }
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 110px;
    padding: 20px;
  }
  .product > div {
    width: 100%;
    height: 100%;
  }
  .product__name {
    font-weight: 600;
    font-size: 1.7em;
    width: 85%;
  }
  .product__description {
    font-weight: 100;
    font-size: 0.9em;
    width: 85%;
  }
  .product__price {
    font-weight: 600;
    font-size: 1.2em;
  }
  .product__cart {
    width: 270px;
  }
  .product__gallery {
    margin-right: 5px;
  }
  .product__gallery img {
    width: 90px;
    margin-bottom: 15px;
    cursor: pointer;
  }
  .logo a {
    position: absolute;
    top: 10px;
    left: 40px;
  }
}

@media (max-width: 420px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
    padding: 0;
  }
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 150px;
    padding: 40px 20px 20px 20px;
  }
  .product > div {
    width: 100%;
    height: 100%;
  }
  .product__name {
    font-weight: 600;
    font-size: 1.7em;
    width: 85%;
  }
  .product__description {
    margin-top: 20px;
    font-weight: 100;
    font-size: 1em;
    width: 85%;
  }
  .product__price {
    font-weight: 600;
    font-size: 1.2em;
  }
  .product__cart {
    width: 250px;
  }
  .logo a {
    position: absolute;
    top: 10px;
    left: 40px;
  }
}
/*# sourceMappingURL=products.css.map */