/* Variables */
* {
  font-family: 'Karla', sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: fixed;
  padding: 2rem 0;
  left: 0;
  top: 0;
}

body {
  padding: 2px 50px 0 50px;
}

.filter {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

select {
  height: 40px;
  padding-left: 10px;
  border: solid #131B23 1px;
  border-radius: 5px;
  font-weight: 250;
  color: #131B23;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

select option {
  font-size: 15px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product {
  width: 200px;
  display: block;
  background: #ffffff31;
  border-radius: 10px;
  padding: 28px;
  margin: 40px 20px 10px 20px;
}

.product__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px 20px 0 0;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.product__name {
  color: #131B23;
  font-weight: 500;
  color: #F64D33;
  font-weight: bold;
  font-size: 1.125em;
}

.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
  margin-bottom: 10px;
  color: #131B23;
  font-size: 1.125em;
  font-weight: bold;
  color: #FFFFFF;
}

.product__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  color: #131B23;
  font-weight: 300;
  font-size: 0.8em;
  color: #FFFFFF;
}

.product__cart {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px #00000033;
  box-shadow: 0 2px 4px #00000033;
  font-weight: 200;
  background: #F64D33;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  width: 150px;
  height: 38px;
}

.product__cart:hover {
  background: #fa614a;
}

.loader {
  border: 16px solid #FFFFFF;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 420px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo a {
    position: absolute;
    top: 10px;
    left: 20px;
  }
  select {
    margin-top: 20px;
    margin-left: 10px;
  }
  select option {
    font-size: 12px;
  }
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
  }
  .product {
    display: block;
    border-radius: 20px;
    margin-bottom: 70px;
    width: 80%;
  }
  .product__image {
    width: 100%;
    border-radius: 20px 20px 0 0;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .product__cart {
    width: 250px;
  }
}
/*# sourceMappingURL=shop.css.map */