/* Variables */
$colorOrange:#F64D33;
$colorBlue: #131B23;
$colorWhite: #FFFFFF;
$lightGray: #ffffff31;
$colorDetectedBtn:#fa614a;

$tablets:"(max-width: 768px)";
$phone:"(max-width: 420px)";


* {
	font-family: 'Karla', sans-serif;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

header {
	position: fixed;
	padding: 2rem 0;
	left: 0;
	top: 0;
}

body {
	padding: 2px 50px 0 50px;
}

.filter {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

select {
	height: 40px;
	padding-left: 10px;
	border: solid $colorBlue 1px;
	border-radius: 5px;
	font-weight: 250;
	color: $colorBlue;
	cursor: pointer;
	font-size: 1em;
	margin-left: 10px;
	option {
		font-size: 15px;
	}
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.product {
	width: 200px;
	display: block;
	background: $lightGray;
	border-radius: 10px;
	padding: 28px;
	margin: 40px 20px 10px 20px;
	&__image {
		display: flex;
		justify-content: center;
		border-radius: 20px 20px 0 0;
		object-fit: contain;
		width: 100%;
		height: 100%;
	}
	&__name {
		color: $colorBlue;
		font-weight: 500;
		color: $colorOrange;
		font-weight: bold;
		font-size: 1.125em;
	}
	&__price {
		display: flex;
		margin-top: 3px;
		margin-bottom: 10px;
		color: $colorBlue;
		font-size: 1.125em;
		font-weight: bold;
		color: $colorWhite;
	}
	&__category {
		display: flex;
		margin-bottom: 5px;
		color: $colorBlue;
		font-weight: 300;
		font-size: 0.8em;
		color: $colorWhite;
	}
	&__cart {
		justify-content: center;
		align-items: center;
		border: 0;
		border-radius: 5px;
		-webkit-box-shadow: 0 2px 4px #00000033;
		box-shadow: 0 2px 4px #00000033;
		font-weight: 200;
		background: $colorOrange;
		color: $colorWhite;
		text-align: center;
		cursor: pointer;
		width: 150px;
		height: 38px;
		&:hover {
			background: $colorDetectedBtn;
		}
	}
}

.loader {
	border: 16px solid $colorWhite;
	/* Light grey */
	border-top: 16px solid #3498db;
	/* Blue */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 2s linear infinite;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	transform: translateY(-50%);
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media #{$phone} {
	body {
		display: flex;
		justify-content: center;
		padding: 0;
		flex-direction: column;
	}
	.logo {
		a {
			position: absolute;
			top: 10px;
			left: 20px;
		}
	}
	select {
		margin-top: 20px;
		margin-left: 10px;
		option {
			font-size: 12px;
		}
	}
	.products {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 15px;
	}
	.product {
		display: block;
		border-radius: 20px;
		margin-bottom: 70px;
		width: 80%;
		&__image {
			width: 100%;
			border-radius: 20px 20px 0 0;
			object-fit: contain;
		}
		&__cart {
			width: 250px;
		}
	}
}
