*{
    font-family: 'Karla', sans-serif;
    padding: 0;
    margin: 0;
   /* text-decoration:none;
    list-style:none; */
     box-sizing: border-box;
    
    }

    :root{
        --azulOscuro: #010A13;
    }

    body {
       font-family: karla;
        
    }
    


    .caja {
        width: 300px;
        height: 300px;
        background-color: var(--azulOscuro);
        padding: 20px 0;

    }

   
   
