@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");



*{
    padding: 0;
    margin: 0;
    text-decoration:none;
    list-style:none;
    box-sizing: border-box;

}

body{
    font-family: 'Karla', sans-serif;
}

header {
    width: 100%;
    height: 100wh;
    background-image: url(img/backgroundnav.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*navegación*/

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 140px;
    margin-left: 20px;
    background-color: 
    transparent;
    border:none;
}

.bar-btn{

    margin-right: 20px;
    cursor: pointer;
}

.nav-menu{
    position:fixed;
    width: 100%;
    height: 0wh;
    top:100px;
    background: rgb(0, 0,0, .95);
    text-align:center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
    padding-top: 5px;
}

.nav-menu li a {
    color:#fff;
    font-size: 20px;
    font-weight: 400;

}

.nav-menu li a.active, .nav-menu li a:hover {
    color: rgb(136, 75, 31);
    transition: .3s;
}

#check {
    display:none;
}

#check:checked ~ .nav-menu {
    height: 100wh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

@media screen and (min-width: 768px) {
  .logo{
      margin-left: 50px;
  }  

  .nav{
      height:100px;
  }

  .bar-btn {
      display: none;
  }
  .nav-menu{
      position: relative;
      height: 100px;
      top:0;
      background: none;
      transition: none;
      text-align: left;
      margin-right: 50px;
  }
  
.nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition:none;
}
.nav-menu li a {
    font-size:12px;
}

}




