*{
    font-family: 'Karla', sans-serif;
    padding: 0;
    margin: 0;
    
   /* text-decoration:none;
    list-style:none; */
     box-sizing: border-box;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 800;
    color: #F64D33;
    font-size: 3em;
}
h2 {
    font-weight: 800;
    color: #F64D33;
    font-size: 1.3em;
  }

h3 {
    color: #F64D33;
    font-weight: 500;
}

p {
    margin: 1em auto 3.5em;
    font-weight: 400;
    color: #fff;
    font-size: 1em;
  }

.flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}

body {
    background-color: #010A13;
}
/*--------------MENU--------------------*/
header {
    width: 100%;
    height: 74px;
    position: absolute;
    z-index: 4;
    padding: 10px;
    color: aliceblue;
    
}
.nav {
    margin: 0 5px;
    
    justify-content: space-between;
}
.logo {
    margin-right: 20px;
}
.menu__item {
    margin: 0 20px;   /*arriba y a los lados*/   
}
.menu__item a {
    color:#fff;
}
.menu__item button {
    background-color: transparent;
    border: none;
}

.menu__item a .active, .menu__item a:hover {
    color: rgb(233, 76, 3);
    transition: .3s;
}
/*-----------BANNER----------------*/
.banner {
    width: 100%;
    height: 700px;
    position: relative;
}
.banner__background {
    width: 100%;
    height: 100%;
    object-fit: cover;   /*adapta la imagen*/
}
.banner__elements {
    margin-top: 2em;
    margin-left: 23px;
    width: 450px;
    
    background-color: 
    transparent;
    padding: 50px;
    position: absolute;  /*el contenido se sobrepone a la pagina*/
    top: 50%;
    transform: translateY(-50%);
}
.banner__elements a {
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 18px 100px;
    background-color: #F64D33;
}

/*----------gallery-------------------*/

.gallery__tittle { 
   padding:  30px 50px 5px;
   text-align: center;
}
#containerItemsgallery {
    margin-top: 20px;
    height: 250px;
    overflow: hidden;
       /*todo lo que este por fuera lo recorta*/
}

.gallery__item {
    height: 100%;
    position: relative;

}
.items__card {
  padding-left: 60px;
    height: 100%;
    width: 100%;
}
.gallery__icons {
    position:absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    
}

#points {
    background-color: #010A13;
    display: flex;
    justify-content: center;
    
}
#points > a {
    font-style: none;
    padding: 3px;
}

/*----------section 3-----------*/
.qualities {
    margin-top: 20px;
    padding: 20px 50px;
    
}
.quality {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
}
.quality__column {
    width: 30%;
}

.quality__image {
    width: 100%;
}
.quality__title {
margin: 20px 0 15px 0;
font-weight: 600;

}
.quality__paragraph {
    font-weight: 400;
    }

/*----------fooder-----------*/
.links {
    display: flex;
    justify-content: space-between;
   margin-left: 50px;
   margin-right: 50px;
}
.links__column {
    width: 30%;
}

.links__column span {
    
    color: rgba(255, 255, 255, 0.582);
    font-size: 1.3em;
}
.links__column a {
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.514);
    font-weight: 400;
}

.description {
    color: #fff;
}



